<div class="panel_auth">
  <div class="auth_wrapper">
    <figure class="auth_logo">
      <!-- <img src="" alt="logo" /> -->
      <figcaption>EMPLOYEE MANAGEMENT</figcaption>
    </figure>
    @if (loginError()) {
    <div class="error-alert mb-3" style="margin-left: 33%;">
      <i class="pi pi-exclamation-triangle" style="color: red;"></i>
      Invalid credentials.
    </div>
    }

    <div class="auth_box">
      <form class="form_grid" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="control_group">
          <label for="email" class="required">Email Address</label>
          <input id="email" class="form_field" pInputText placeholder="Enter Email Address" carvixNoLeadingSpace
            formControlName="email" autocomplete="off" maxlength="50" />
          @if (submitted() && loginForm.get('email')?.invalid) { @if
          (loginForm.get('email')?.hasError('required')) {
          <small class="error_msg">Email is Required</small>
          } @if (loginForm.get('email')?.hasError('email')) {
          <small class="error_msg">Enter valid Email Address</small>
          } }
        </div>
        <div class="control_group">
          <label for="password" class="required">Password</label>
          <p-password carvixNoLeadingSpace id="password" class="form_field" placeholder="Enter your password"
            [feedback]="false" [toggleMask]="true" formControlName="password" autocomplete="off"></p-password>
          @if (submitted() && loginForm.get('password')?.hasError('required')) {
          <small class="error_msg">{{ "Password" }} {{ "is Required" }}</small>
          }
        </div>

        <div class="btn_flex">
          <p-button type="submit" class="btn btn-primary w_100" label="SignIn" />
        </div>
      </form>
    </div>
  </div>
</div>